**/__pycache__
.venv
.pytest_cache
.idea

# .gitignore ajuda a controlar quais arquivos e diretórios são ignorados pelo Git, garantindo um controle de versão
# mais eficiente e preciso do código-fonte do seu projeto.

# Pylint
# snake_cases: Funções, Variáveis, Métodos
# PascalCase: Classes 